<h2 class="pt-4">About Me</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">JAMstack Developer and Content Strategist!</p>
<div class="d-sm-flex flex-wrap gutter-condensed text-justify mb-4 mx-1" style="font-size: 16px!important;">
    <p>Hey there! My name is Brennan, I&#39;m a 26-year-old Métis web developer and content strategist from
    Winnipeg, Manitoba and currently reside in Calgary, Alberta. I've recently compeleted a Full Stack
    Developer Program at <a href="https://www.inceptionu.com/full-stack-developer-program">EvolveU</a>, and I&#39;m looking to help
    those
    that need web development work done, or searching for ideas and management for their next content
    project.
    </p>

    <p>I would also love to volunteer my time to contributing to open-source projects! I love creating and
    tinkering with small, static websites and projects. I&#39;m a big proponent of putting an emphasis
    on
    accessibility and the <a href="https://www.a11yproject.com/">A11y project</a> in web development.
    </p>

    <p>I&#39;m always looking to work with people that are hopeless idealists like me, as well as who are
    interested in creating and working on cool, interesting, and meaningful projects! Shoot me <a
    href="mailto:mail@brennanbrown.ca">an e-mail</a> if that sounds like your cup of tea.</p>
</div>
